

// --- jQuery UI Dialog: modern skin ---
// Usage: include AFTER jQuery UI CSS so it overrides it.

$dlg-bg: #111318;
$dlg-surface: #171a21;
$dlg-border: rgba(255, 255, 255, 0.10);
$dlg-shadow: 0 16px 60px rgba(0, 0, 0, 0.55);
$dlg-radius: 14px;

$txt: rgba(255, 255, 255, 0.92);
$muted: rgba(255, 255, 255, 0.70);

$accent: #5ea7ff;
$accent-2: #7c5cff;

$btn-bg: rgba(255, 255, 255, 0.08);
$btn-bg-hover: rgba(255, 255, 255, 0.12);
$btn-border: rgba(255, 255, 255, 0.12);

$focus: 0 0 0 3px rgba(94, 167, 255, 0.35);

.ui-dialog.ui-widget {
  background: linear-gradient(180deg, $dlg-surface 0%, $dlg-bg 100%);
  color: $txt;
  border: 1px solid $dlg-border;
  border-radius: $dlg-radius;
  box-shadow: $dlg-shadow;
  overflow: hidden;
  padding: 0; // titlebar + content handle spacing
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  // smoother dragging look
  .ui-dialog-titlebar {
    background: linear-gradient(90deg, rgba($accent, 0.18), rgba($accent-2, 0.12));
    border: 0;
    border-bottom: 1px solid $dlg-border;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    .ui-dialog-title {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.2px;
      color: $txt;
      margin: 0;
      line-height: 1;
      flex: 1;
    }

    // Close button (top right)
    .ui-dialog-titlebar-close.ui-button {
      width: 34px;
      height: 34px;
      min-width: 34px;
      padding: 0;
      border-radius: 10px;
      border: 1px solid $btn-border;
      background: $btn-bg;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: transform 0.12s ease, background 0.12s ease, border-color 0.12s ease;

      &:hover {
        background: $btn-bg-hover;
        transform: translateY(-1px);
        border-color: rgba(255, 255, 255, 0.18);
      }

      &:active {
        transform: translateY(0);
      }

      &:focus-visible {
        outline: none;
        box-shadow: $focus;
      }

      // hide the "Close" text, keep icon only
      .ui-button-icon-space,
      .ui-button-text {
        display: none;
      }

      // icon styling (jQuery UI icon font)
      .ui-icon {
        filter: invert(1);
        opacity: 0.9;
      }
    }
  }

  .ui-dialog-content.ui-widget-content {
    background: transparent;
    border: 0;
    padding: 14px 14px 10px 14px;
    color: $txt;
    font-size: 14px;
    line-height: 1.4;

    p {
      margin: 0 0 8px 0;
      color: $muted;

      b, strong {
        color: $txt;
        font-weight: 800;
      }
    }

    // optional: make the "words to learn" pop a bit
    // You can wrap them in a span class later if you want.
    // Example: <p>Tu dois apprendre: <b class="pill">...</b></p>
    .pill {
      display: inline-block;
      padding: 2px 8px;
      border-radius: 999px;
      background: rgba($accent, 0.14);
      border: 1px solid rgba($accent, 0.22);
      color: $txt;
      font-weight: 700;
    }
  }

  .ui-dialog-buttonpane {
    background: transparent;
    border: 0;
    border-top: 1px solid $dlg-border;
    padding: 10px 12px;
    margin: 0;

    .ui-dialog-buttonset {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      .ui-button {
        border-radius: 12px;
        border: 1px solid $btn-border;
        background: $btn-bg;
        color: $txt;
        padding: 8px 12px;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
        transition: transform 0.12s ease, background 0.12s ease, border-color 0.12s ease;

        &:hover {
          background: $btn-bg-hover;
          border-color: rgba(255, 255, 255, 0.18);
          transform: translateY(-1px);
        }

        &:active {
          transform: translateY(0);
        }

        &:focus-visible {
          outline: none;
          box-shadow: $focus;
        }
      }
    }
  }

  // Resizers: make handles visible but subtle
  .ui-resizable-handle {
    opacity: 0.55;
    transition: opacity 0.12s ease;
  }
  &:hover .ui-resizable-handle {
    opacity: 0.9;
  }

  // The diagonal grip icon in bottom-right
  .ui-resizable-se.ui-icon {
    filter: invert(1);
    opacity: 0.75;
  }
}

// Optional: dim the page behind (if you're using jQuery UI's overlay)
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
}


*{
padding: 0px;
   margin: 0px;
}

#hiddenPlayer{
   display:none; 
   visibility:hidden;
}
body{
background-color: red;
}

.log{
background-color: yellow;
height:100%;
}

.clickMe{
    
}

.clickMe:hover{
 cursor:pointer;
}
.logText{
    color:black;
    font-size: 20px;
}
button:hover{
    cursor:pointer;
}
#addHere{
width:100%;
background-color: yellow;
}

@font-face{
font-family:pc;
 src:url('../fonts/FuturaBookfont.ttf'); 
}

body,html{
 
/*background: #ffffff;*/
height:100%;
 font-family:arial;
color:black;
height:100%;
/*background-image: url('../images/2IMG_0100.jpg');*/
 ;
}

.unselectable {
/*    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
p{font-size: 80px;
color:green;
}
#spelledWords{
margin-top:10px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
padding-bottom: 15px;
width: 98%;
height:140px;
background-color: black;
color: green;
font-family:MS Shell Dlg;
     font-size:120px;
     text-indent:50px;
     letter-spacing: 5px;
     /* Keyword values */

 
border-radius: 5px;
position:relative;
text-shadow:  0px 0px 4px #6ca218,0px 0px 4px greenyellow,0px 0px 4px greenyellow,0px 0px 1px green,0px 0px 1px green;
}
#spellwordsBox{
width: 100%;
text-align:center;  
}


ul {list-style-type: none; }

ul.keyboard{
width:90%;
background-color:deepskyblue;
display:table;
padding:10px;
position :relative;
height:auto;
border-radius: 25px;
margin-left:auto;
margin-right:auto;
/*border: 1px solid black;*/
text-align: center;
display:table;
}


table{border:none;}
ul.keyboard >li {
width:80px;
height:80px;
float:left;
position :relative;
margin-top:5px;
 
text-align: center;
/*border: 1px solid black;*/
display:block;
margin-left:1px;
margin-right:1px;

}


ul.keyboard li ul {

}



ul.keyboard li ul li:first-child{
float:none;
text-align:center;
position :relative;
font-size: 12px;
color:yellow;   
top:2px;
}

ul.keyboard li ul li:nth-child(2){
width:70px;
height:70px;
float:left;
margin-bottom:1px;
background-color:yellow;
margin-left:3px;
border: 2px solid black;
border-radius: 25px;
font-size: 55px;
 
}

ul.keyboard >li:nth-child(3),
ul.keyboard >li:nth-child(4),
ul.keyboard >li:nth-child(5),
ul.keyboard >li:nth-child(6),
ul.keyboard >li:nth-child(7)
 {
top:-15px;
}
ul.keyboard li:first-child ul li:nth-child(2),
ul.keyboard li:nth-child(2) ul li:nth-child(2),
ul.keyboard li:nth-child(7) ul li:nth-child(2){
font-size: 14px;
font-weight:bold;
}
 
ul.keyboard li:nth-child(3) ul li:nth-child(2)
 {
font-size: 50px;
font-weight:bold;
}
ul.keyboard li:nth-child(48) ul li:nth-child(2),
ul.keyboard li:nth-child(49) ul li:nth-child(2),
    ul.keyboard li:nth-child(50) ul li:nth-child(2){
font-size: 60px;
font-weight:bold;
line-height:15px;
}



ul.keyboard li ul li:nth-child(3){
width:80px;
height:auto;
float:none;
/*background-color:green;*/
text-align:center;
position :relative;
display:table-cell;
font-size: 12px;
color:yellow;
 margin-left:auto;
margin-right:auto;
}
/*d*/
ul.keyboard li ul li:nth-child(2):hover{
    cursor:pointer;
    border: 2px solid orangered;
}

#yellow{background-color:yellow; 
        padding:25px;
        border-radius:25px;
        position:relative;
        height:auto;
        width: 95%;
       margin-left:auto;
   margin-right:auto;
   margin-bottom:10px;
}
#red{background-color:red;
     padding:25px;
     border-radius: 25px;
position:relative;
height:auto;
 margin-left:auto;
   margin-right:auto;
}

#header p{font-size:25px!important; float:right;
margin-right:1%;
color:black;
position:relative;}

#columnButton{
    width:15%;
    float:left;
    margin-left:1%;
    margin-top:1%;
}

 .blink{
     
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
   

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
     
}

@-moz-keyframes blinker {  
   50% { border-color: yellow;
   color: yellow;} 
   
  
}

@-webkit-keyframes blinker {  
    50% { border-color: yellow;
    color: yellow;} 
  
}


@keyframes blinker {  
  50% { border-color: yellow; 
   color: yellow;}  
 
} 



#level,#points,#nameUser,#sound,#words{

float:left;
margin-left:1%;
margin-top:1%;
background-color: yellow;
border: 2px solid black;
text-indent: 2px;
height:23px;
}
#nameUser{
     text-transform: capitalize;
}

#level,#points,#nameUser,#words{
width:100px;
}
#points{
width:100px;
}
#sound{ 
width:280px;

}


#slider{
width:75%;
float:right;
margin-right:25px;
background-color: yellow;
border: 1px solid black;
margin-top:5px;
}
.ui-slider .ui-slider-handle {
  width: 2em!important;  
}

#dialog-message{display:none;}
#dialog-message p{font-size: 15px;
color: white;
}
.ui-button.ui-corner-all.ui-widget{visibility:hidden;}